# Игнорируем все файлы окружения и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальное окружение (если есть)
venv/
env/

# Игнорируем файл с пользовательскими путями
paths.json

# Игнорируем лог-файлы (если вдруг добавишь)
*.log

# Игнорируем IDE файлы (например PyCharm)
.idea/
.vscode/

# Игнорируем системные файлы Windows/macOS
.DS_Store
Thumbs.db